<div class="row">
   <div class="col-md-12">

    <h2> Shopping detail </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
            <td>
              <%= product_list.quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total <%= @order.total %> CNY
      </span>
    </div>

    <hr>

    <h2> Deliver Information </h2>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Ordered by
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Receiver
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="group pull-left">
      <%  if @order.order_placed? || @order.paid? %>
        <%= link_to("Cancel Order", apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
      <% end %>
    </div>

    <% case @order.aasm_state %>
    <% when "order_cancelled" %>
      <p class="text-center">Order is cancelled.</p>
    <% else %>
      <% if !@order.is_paid? %>
      <div class="group pull-right">
        <%= link_to("Ali-Pay", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
        <%= link_to("Wechat-Pay", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
      </div>
      <% else %>
      <p class="text-center">Order is paid.</p>
      <% end %>
    <% end %>

  </div>
</div>
