<div class="row">
  <div class="col-md-12">

    <%= link_to("Clean your cart", clean_carts_path, class: "btn btn-primary pull-right",
          style: "text-decoration: underline;",
          method: :delete, data: { confirm: "Are you sure?" } ) %>
    <h2> Your Cart </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product Info</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
            </td>
            <td>
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "Update", data: { disable_with: "Submiting..."}%>
              <% end %>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.product_id), method: :delete, data: { confirm: "You will delete #{cart_item.product.title}" } do %>
                <i class="fa fa-trash">delete</i>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <br>

    <div class="total clearfix">
      <span class="pull-right">
         <span>
           Total <%= current_cart.total_price %> RMB
         </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <% if current_cart.products.count == 0 %>
        <i class="btn btn-lg btn-danger pull-right">Empty Cart</i>
      <% else %>
        <%= link_to("Checkout", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
      <% end %>
    </div>
  </div>
</div>
