<%= simple_form_for [:admin, @product] do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.association :groups %>
<%= f.input :publish_on, :as => :string %>
<%= f.association :category %>
<%#= f.select :category_id, Category.all.map{ |x| [x.name, x.id] }, :class => "form-control" %>
<%= f.input :price %>
<%= f.input :quantity %>
<% if @product.image.present? %>
  <span>Current Image</span><br>
  <%= image_tag(@product.image.thumb.url) %>
<% end %>
<%= f.input :image, as: :file %>
<%= f.submit "Submit"%>
<% end %>

<%= content_for :js do %>
<script>
  autosize($("#product_description"))
  $("#product_category_id").select2();
  $("#product_group_ids").select2();

  $("#product_publish_on").datepicker( { format: "yyyy/mm/dd" } );
</script>
<% end %>
